<header>
	<!-- Positioning the Top Bar -->
	<div class="fixed">
		<!-- Basic Needs -->
		<nav class="top-bar">
			<ul>
				<li class="name"><h1 class="site-nav-title"><%= link_to 'ABHRA BASAK', '/index.html' %></h1></li>
				<li class="toggle-topbar"><a href="#"></a></li>
			</ul>
			<section>
				<ul class="left">
					<li><%= link_to 'Home', '/index.html' %></li>
					<li><%= link_to 'Skills', '/skills.html' %></li>
					<li><%= link_to 'Projects', '/projects.html' %></li>
					<li><%= link_to 'Blog', '#' %></li>
          <li><%= link_to 'WBIM', '/wbim/index.html' %></li>
					<li><%= link_to 'Contact', '/contact.html' %></li>
				</ul>

				<ul class="right">
					<li><%= link_to 'Credits', '/credits.html' %></li>
				</ul>
			</section>
		</nav>
	</div>
</header>