<section class="assignment-list">
  <h6>All Assignments</h6>
  <ul class="side-nav">
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 1 %>"><%= link_to 'Assignment 1 - Launch of Portfoilo', 'index.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 2 %>"><%= link_to 'Assignment 2 - Process Diagram using BPMN', 'bpmn.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 3 %>"><%= link_to 'Assignment 3 - Information and Data Quality', 'quality.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 4 %>"><%= link_to 'Assignment 4 - Internet Protocols and Standards', 'protocols.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 5 %>"><%= link_to 'Assignment 5 - Categorisation of WBIS', 'categorisation.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 6 %>"><%= link_to 'Assignment 6 - Modelling Techniques', 'modelling.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 7 %>"><%= link_to 'Assignment 7 - Assignment Pending', '#' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 8 %>"><%= link_to 'Assignment 8 - Knowledge Representation', 'knowledge.html' %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if data.page.assignment == 9 %>"><%= link_to 'Assignment 9 - Mandi Temples', 'temples.html' %></li>
    <li class="divider"></li>
  </ul>
</section>