---
title: Assignment 1 - Process Diagrams using BPMN 2.0
stylesheets: wbim
assignment: 1
bpmn:
  hardware_retailer:
    caption: Hardware Retailer
    image: HardwareRetailer_1.0.png
    xml: HardwareRetailer.bpmn
  arrival_of_new_employee:
    caption: Arrival of a New Employee
    image: Arrival_of_a_New_Employee_Diagram_4.1.png
    xml: ArrivalOfNewEmployee.bpmn
  buy_a_mini:
    caption: Buy a Mini
    image: Buy_a_MINI_3.2.png
    xml: BuyAMini.bpmn
  credit_request:
    caption: Credit Request
    image: Credit_Request_Example_1.0.png
    xml: CreditRequest.bpmn
  delivery_process:
    caption: Delivery Process
    image: Delivery_Process_1.0.png
    xml: DeliveryProcess.bpmn
  advance_payment:
    caption: Request for Advance Payment
    image: Request_For_Advance_Payment_1.2.png
    xml: RequestForAdvancePayment.bpmn
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <p>
        Here, I tried out some business process models as part of the assignment.
        My friend <%= link_to 'Shoubhik', 'http://sites.google.com/site/shoubhikdebnath' %> helped me out with some of these.
      <p>
      <% data.page.bpmn.each do |model, m| %>
      <figure>
        <%= image_tag "wbim/#{m['image']}" %>
        <figcaption><%= link_to m['caption'], m['xml'] %></figcaption>
      </figure>
      <% end %>
    </article>    
    <p>To save the XML files for the BPMN, right click on the caption, and select 'Save Link As.../Save Target As...'</p>
    <p>All BPMN 2.0 models were created using <%= link_to 'Bonita Open Solution', 'http://www.bonitasoft.com' %>.</p>
    
    <fieldset class="list-software">
      <legend>Here's a list of some open source software for BPMN:</legend>
      <ul class="open-source-software">
        <li class="software">Modelio</li>
        <li class="software">Bonita Open Solution</li>
        <li class="software">Yaoqiang</li>
      </ul>
    </fieldset>
  </section>
  <%= partial 'assignments' %>
</div>