---
title: Assignment 1 - Process Diagrams using BPMN
stylesheets: wbim
assignment: 1
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <p>
        Here, I tried out some business process models as part of the assignment.
        My friend Shoubhik helped me out with some of these.
      <p>
      <figure>
        <%= image_tag 'wbim/HardwareRetailer_1.0.png' %>
        <figcaption>Hardware Retailer</figcaption>
      </figure>
    </article>
    <pre>
      
    </pre>
    <%= link_to 'View XML', 'HardwareRetailer.bpmn' %>
    <p>BPMN models created using <%= link_to 'BonitaSoft Open Solution', 'http://www.bonitasoft.com' %>.</p>
  </section>
  <%= partial 'assignments' %>
</div>