---
title: Assignment 4 - Internet Protocols and Standards
stylesheets: wbim
assignment: 4
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <p>Following are a list of some protocols and standards for the Internet and the web with their specification documents where applicable.</p>
      <ul class="protocol-list">
        <li class="protocol"><%= link_to 'Secure Shell (SSH)', 'http://tools.ietf.org/html/rfc4252' %></li>
        <li class="protocol"><%= link_to 'File Transfer Protocol (FTP)', 'http://tools.ietf.org/html/rfc959' %></li>
        <li class="protocol"><%= link_to 'Simple Mail Transfer Protocol (SMTP)', 'http://tools.ietf.org/html/rfc2821' %></li>
        <li class="protocol"><%= link_to 'Telephone Network (Telnet)', 'http://tools.ietf.org/html/rfc495' %></li>
        <li class="protocol"><%= link_to 'HyperText Transfer Protocol (HTTP)', 'http://tools.ietf.org/html/rfc2616' %></li>
        <li class="protocol"><%= link_to 'Secure HyperText Transfer Protocol (HTTPS)', 'https://tools.ietf.org/html/rfc2818' %></li>
        <li class="protocol"><%= link_to 'Secure File Transfer Protocol (SFTP)', 'http://tools.ietf.org/html/draft-ietf-secsh-filexfer-13' %></li>
        <li class="protocol"><%= link_to 'Secure Sockets Layer (SSL)', 'http://tools.ietf.org/html/rfc6101' %></li>
        <li class="protocol"><%= link_to 'Transport Layer Security (TLS)', 'http://tools.ietf.org/html/rfc5246' %></li>
        <li class="protocol"><%= link_to 'Post Office Protocol (POP)', 'http://tools.ietf.org/html/rfc1939' %></li>
        <li class="protocol"><%= link_to 'Domain Name System (DNS)', 'http://tools.ietf.org/html/rfc1035' %></li>
        <li class="protocol"><%= link_to 'Network Time Protocol (NTP)', 'http://tools.ietf.org/html/rfc5905' %></li>
        <li class="protocol"><%= link_to 'Internet Relay Chat (IRC)', 'http://tools.ietf.org/html/rfc1459' %></li>
        <li class="protocol"><%= link_to 'Lightweight Directory Access Protocol (LDAP)', 'http://tools.ietf.org/html/rfc4511' %></li>
      </ul>
      <p>
        An exhaustive list of protocols and their related specifications, ports and versions can be found in
        <b><%= link_to 'Wikipedia', 'http://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers' %></b>.
      </p>
    </article>
  </section>
  <%= partial 'assignments' %>
</div>