---
title: Assignment 9 - Mandi Temples
stylesheets: wbim
assignment: 9
---
<div class="assignment view">
  <section class="assignment-description">
    <article>
      <h4><%= data.page.title %></h4>
      <p>Following are a list of some temples in Mandi we visited and documented.</p>
      <ul class="temples-list">
        <li class="temple"><b><%= link_to 'BagalaMukhi Temple', 'https://sites.google.com/site/manditemples/temples-list/baglamukhi-temple' %></b></li>
        <li class="temple"><b><%= link_to 'Mahakali Temple', 'https://sites.google.com/site/manditemples/temples-list/mahakali-temple' %></b></li>
        <li class="temple"><b><%= link_to 'Ramchandra Temple', 'https://sites.google.com/site/manditemples/temples-list/ramchandra' %></b></li>
      </ul>
      <p>
        An exhaustive list of Mandi temples under documentation can be found in
        <b><%= link_to 'Mandi Temples', 'https://sites.google.com/site/manditemples/system/app/pages/subPages?path=/temples-list' %></b>.
      </p>
    </article>
  </section>
  <%= partial 'assignments' %>
</div>