---
title: Credits
stylesheets: credits
---
<div class="credits view">
  <section class="credits-intro">
    <h4>Credits</h4>
    <p>
      This website is proudly hand-crafted using <b><%= link_to 'Foundation by Zurb', 'http://foundation.zurb.com' %></b>,
      and <b><%= link_to 'The Middleman', 'http://middlemanapp.com' %></b>,
      taking advantage of the power of <b><%= link_to 'Ruby', 'http://ruby-lang.org' %></b>
      and <b><%= link_to 'Compass', 'http://compass-style.org' %></b>.
      It is hosted using <b><%= link_to 'GitHub Pages', 'http://pages.github.com' %></b>.
    <p>
  </section>
  <section class="credits-components">
    <h6>Other components</h6>
    <ul>
      <li><%= link_to 'jQuery', 'http://jquery.com' %></li>
      <li><%= link_to 'Foundation Icon Fonts', 'http://zurb.com/playground/foundation-icon-fonts-3' %></li>
      <li><%= link_to 'Social Web Icons', 'http://zurb.com/playground/social-webicons' %></li>
      <li><%= link_to 'SASS', 'http://sass-lang.com' %></li>
      <li><%= link_to 'CoffeeScript', 'http://jashkenas.github.com/coffee-script' %></li>
      <li><%= link_to 'HTML5', 'http://html5.org' %></li>
    </ul>
  </section>
</div>