---
title: Credits
stylesheets: credits
---
<div class="credits view">
  <section class="credits-intro">
    <h4>Credits</h4>
    <p>
      This website has been proudly hand-crafted by me using <b><%= link_to 'Foundation by Zurb', 'http://foundation.zurb.com' %></b>,
      and <b><%= link_to 'The Middleman', 'http://middlemanapp.com' %></b>,
      taking advantage of the power of <b><%= link_to 'Ruby', 'http://ruby-lang.org' %></b>
      and <b><%= link_to 'Compass', 'http://compass-style.org' %></b>.
      It is hosted using <b><%= link_to 'GitHub Pages', 'http://pages.github.com' %></b>.
    </p>
    <p>All Trademarks belong to their respective Owners.</p>
  </section>
  <section class="credits-components">
    <h6>Other components</h6>
    <ul>
      <% data.credits.each do |source, url| %>
      <li><%= link_to source, url %></li>
      <% end %>
    </ul>
  </section>
</div>