---
title: Home
stylesheets:
- home
- webicons
---
<main class="home view">
  <section class="display-pic">
    <%= image_tag 'photo.jpg', alt: 'This is how I look' %>
  </section>
  <section class="hello-intro">
    <h4>Hey, Hi and Hello!</h4>
    <p>
      My name is ABHRA BASAK. I am a 21-year old Computer Science Undergraduate
      in <b><%= link_to 'IIT Mandi', 'http://iitmandi.ac.in' %></b> (living in Kolkata).
      I am passionate about Web Technologies, and also enjoy Programming, Football, Puzzles, Action Movies and Pop Music.
      I'm glad you visited my website. Have a look around.
    </p>
    <p>
      I'm always looking for ideas that might make my work more creative. In my free time, I read developers' blogs and build sotware that is easy to use. I derive inspiration from popular music, and love listening to Internet Radio.
    </p>
    <p>
      I have recently undertaken an internship with <b><%= link_to 'Microsoft', 'http://microsoft.com' %></b> IDC (Hyderabad),
      in <b><%= link_to 'Bing', 'http://bing.com' %></b> Tech-Segments, who have gladly extended a full-time offer to me.
      I am currently involved in building an open-source framework,
      <b><%= link_to 'HazelWard', 'https://github.com/Abhra1992/hazelward' %></b> for NVIDIA CUDA,
      and am looking for contributors for the same.
    </p>
  </section>
  <section class="home-social">
    <h5>Find out what I'm up to:</h5>
    <div class="social panel">
      <% data.contact.each do |contact, address| %>
      <%= link_to contact, address, class: "webicon large #{contact.downcase}" %>
      <% end %>
    </div>
  </section>
</main>
