---
title: Home
stylesheets:
- home
- webicons
---
<div class="home view">
  <section class="display-pic">
    <%= image_tag 'photo.jpg', :alt => 'This is how I look' %>
  </section>
  <section class="hello-intro">
    <h4>Hey, Hi and Hello!</h4>
    <p>
      My name is ABHRA BASAK. I am a 21-year old Computer Science Undergraduate
      in <b><%= link_to 'IIT Mandi', 'http://iitmandi.ac.in' %></b> (living in Kolkata).
      I am passionate about Web Technologies, and also enjoy Programming, Football, Mathematics, Action Movies and Pop Music.
      I'm glad you visited my website. Have a look around.
    </p>
    <p>
      I'm always looking for ideas that might make my work more creative. I'm especially interested in Computer
      Technologies and the Web. That's why I've decided to get primarily involved in Software Development, particularly Web-based.
      It is my main focus today, and it will remain so hopefully in the long term.
    </p>
    <p>
      I have also recently undertaken an internship at <b><%= link_to 'Microsoft', 'http://microsoft.com' %></b> IDC (Hyderabad), in <b><%= link_to 'Bing', 'http://bing.com' %></b> Tech-Segments, who have gladly extended a full-time offer to me. My dream of joining Microsoft one day has finally come true.
    </p>
  </section>
  <section class="home-social">
    <h5>Find out what I'm up to:</h5>
    <div class="social panel">
      <% data.contact.each do |contact, address| %>
      <%= link_to contact, address, :class => "webicon large #{contact.downcase}" %>
      <% end %>
    </div>
  </section>
</div>
