---
title: Abhra
---
<div class="home view">
	<h4>Abhra Basak</h4>
	<p>
		Hello, there! I am a Computer Science Undergraduate in IIT Mandi. I am passionate about Web Technologies, and
		also enjoy Programming, Football, Mathematics, Action Movies and Pop Music.
	</p>
	<h5>Find me in the following locations:</h5>
	<p>
		<ul>
			<li><%= link_to 'GitHub', 'https://github.com/Abhra1992' %></li>
			<li><%= link_to 'Facebook', 'https://facebook.com/abracadabra.2010' %></li>
			<li><%= link_to 'Twitter', 'https://twitter.com/abhra_basak' %></li>
			<li><%= link_to 'Quora', 'https://quora.com/Abhra-Basak' %></li>
			<li><%= link_to 'LinkedIn', 'http://in.linkedin.com/in/abhrabasak' %></li>
			<li><%= link_to 'Google+', 'http://plus.google.com' %></li>
		</ul>
	<p>
</div>
